files:  
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json": 
    mode: "000600"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "root"
        },
        "metrics": {
          "namespace": "System/Linux",
          "append_dimensions": {
            "AutoScalingGroupName": "${aws:AutoScalingGroupName}"
          },
          "metrics_collected": {
            "mem": {
              "measurement": [
                {
                  "name":"mem_available_percent",
                  "rename":"app_mem_available_percent"
               },
               {
                "name":"mem_used_percent",
                "rename":"app_mem_used_percent"
             }
              ]
            },
            "disk":{
              "measurement":[
                 {
                    "name":"disk_free",
                    "rename":"app_disk_free"
                 },
                 {
                    "name":"disk_used",
                    "rename":"app_disk_used"
                 },
                 {
                    "name":"disk_used_percent",
                    "rename":"app_disk_used_percent"
                 }
              ],
              "ignore_file_system_types":[
                 "sysfs",
                 "devtmpfs",
                 "tmpfs",
                 "squashfs"
              ],
              "metrics_collection_interval":60,
              "resources":[
                 "*"
              ]
            }
          }
        }
      }
container_commands:
  start_cloudwatch_agent: 
    command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json
